.about-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-top {
  width: 100%;
  height: 100%;
}
.about-img {
  background-image: url("../assets/burger.jpg");
  width: 100%;
  height: 400px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.about-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  max-width: 1400px;
  margin: 20px 0;
}
.about-bottom p {
  font-size: 16px;
}

.about-bottom h2 {
  font-size: 30px;
}
