.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #252525;
  color: white;
  position: sticky;
  width: 100%;
  top: 100%;
}
.social-links svg {
  cursor: pointer;
  font-size: 40px;
}
